@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&family=Press+Start+2P&family=Source+Code+Pro:ital,wght@1,200&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Press Start 2P', cursive;
    font-weight: 200;
    color: #0ccac4;
}